@{ Layout = "../_layout.cshtml";
    ViewBag.Title = "Homepage"; }

<h1>Client Home Page</h1>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p><strong>Get your access token here:</strong></p>
                <p><a href="/home/secret" class="btn btn-primary">Get access token</a></p>
            </div>
        </div>
    </div>
</div>
