@{ Layout = "../_layout.cshtml";
    ViewBag.Title = "Secrets"; }

@using Client.Models
@model OAuthSecretResponse

<h1>Client Secret Page</h1>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <strong>This page is only accessable when there's an access token available.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Model.ServerResponse</p>
                <p>@Model.ApiResponse</p>
                <p><a href="ClearAccessToken" class="btn btn-danger">Clear access token</a></p>
            </div>
        </div>
    </div>
</div>

