@{ Layout = "../_layout.cshtml";
    ViewBag.Title = "Secrets"; }

@using Client.Models
@model OAuthSecretResponse

<h1>Client Secret Page</h1>
<p>@Model.ServerResponse</p>
<p>@Model.ApiResponse</p>
<p><a href="ClearAccessToken">Clear accestoken</a></p>